header {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(255, 255, 255, .5); */
  background-image: linear-gradient(to right, #67B26F, #4ca2cd);
  border-bottom: 1px solid gray;
  height: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 3%;
}


.image-container img {
  max-width: 100px;
  height: auto;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.user-info img {
  max-width: 35px;
  border-radius: 50%;
  border: 2px solid gray;
}

.user-info p {
  font-size: 14px;
}