.login {
  align-items: center;
  background-image: url('../images/login-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(to right, rgb(192, 192, 170), rgb(28, 239, 255)); */
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
} 

.formContainer {
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: 3px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer__logo {
  max-width: 400px;
  padding: 20px;
}

.formEmail, .formName {
  align-items: center;
  display: flex;
  font-size: 16px;
  padding: 20px;
}

.formEmail input, .formName input {
  padding: 5px;
  margin-left: 5px;
}

button {
  margin: 10px 0 10px 0;
}

/* https://getcssscan.com/css-buttons-examples */
button, .emailInput, .nameInput {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button {
  cursor: pointer;
  font-family: 'Karmatic Arcade', sans-serif;
  font-size: 14px;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

button:disabled {
  color:rgb(0, 0, 0, .5)
}

@media (min-width: 768px) {
  .playBtn {
    padding: 0.25em 0.75em;
  }
}

/* .playBtn, .btnConfig {
  border: 2px solid #ccc;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
} */

.image-credit {
  bottom: 5px;
  color: rgb(255, 255, 255, .8);
  font-size: 12px;
  position: fixed;
  right: 10px;
}

.image-credit a {
  color: rgb(255, 255, 255, .8);
  text-decoration: none;
}